@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --color-main: #18d26e;
  --main-color: hsl(var(--hue-color), 89%, 60%);
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
}

* {
  font-family: "Comfortaa", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}
body {
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  width: 1rem;
  display: none;
}

html::-webkit-scrollbar-track {
  background: inherit;
  color: inherit;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-main);
  border-radius: 5rem;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.btn {
  border: none;
  outline: none;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  color: inherit;
}

.btn-main {
  background: var(--color-main);
  color: #fff;
}

.btn-outline-main {
  border: 1px solid white;
  color: var(--color-main);
}
.home {
  height: 100vh;
  padding-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 0rem;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: inherit;
}

.mail-icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
.banderas button {
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 30px;
  margin-left: 10px;
}

.banderas button img {
  width: 100%;
}

.banderas1 button {
  border: none;
  cursor: pointer;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 30px;
  margin-left: 10px;
}

.banderas1 button img {
  width: 100%;
}

.mail-icon + span {
  font-size: 0.87rem;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 2rem;
}

nav a {
  font-size: 0.86rem;
}
nav ul li a {
  font-size: 0.86rem;
  color: inherit;
}

nav label {
  font-size: 1.4rem;
  display: none;
}

#menu-toggle {
  display: none;
}

.hero-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}

.hero-img {
  border-radius: 50%;
  margin-bottom: 1.2rem;
  /* box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.2),
    -6px -6px 18px rgba(255, 255, 255, 0.8); */
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.8),
    -6px -6px 18px rgba(255, 255, 255, 0.8);
}

.hero-img + span {
  font-size: 1.25rem;
  font-weight: 700;
}

.hero-content h1 {
  text-align: center;
  font-size: 3.4rem;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  line-height: 4.2rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.connect-btn {
  margin-top: 1.8rem;
}

.connect-btn a {
  font-size: 1.1rem;
  background: var(--color-main);
  padding: 1rem 3rem;
  border-radius: 30px;
  display: inline-block;
  color: inherit;
}

.tech-stack {
  margin: 5rem 0rem;
}

.tech-stack h3,
.works h3 {
  margin-bottom: 1.7rem;
  font-size: 1.3rem;
}

.tech-stack h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skill-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 25px;
  gap: 3.6rem;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill small {
  display: inline-block;
  font-weight: 600;
}

.skill img {
  width: 50px !important;
  margin-bottom: 0.5rem;
}

.grid-2x {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem 2.4rem;
  align-items: center;
}

.works {
  padding: 3rem 0rem 1rem 0rem;
}

.work-grid {
  margin-bottom: 4.5rem;
}

.work-image img {
  width: 80%;
  border-radius: 8px;
}

.work-info h2 {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.work-info p {
  line-height: 1.8rem;
  text-align: justify;
}

.work-tech {
  margin-top: 1rem;
}

.work-tech span {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 1rem;
}
.work-tech .iconify {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.work-btn {
  margin-top: 1rem;
}

.work-btn a {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  transition: background 200ms;
  color: inherit;
  border: 1px solid;
  color: inherit;
}

.work-btn a:hover {
  background: var(--color-main);
  color: #fff;
}

.contact-me {
  padding: 3rem 0rem;
}

.contact-me h3 {
  margin-bottom: 0.2rem;
}

.contact-me h3 + small {
  font-weight: 600;
  font-size: 1rem;
}

.contact-grid {
  align-items: flex-start;
}

.contact-info h3 {
  margin-bottom: 1.2rem;
}

.contact-info-grid {
  display: flex;
}

.contact-icon {
  height: 50px;
  width: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50% 10px 50% 50%;
  margin-right: 1rem;
  margin-bottom: 3.5rem;
  border: 1px solid;
}
.contact-icon span {
}

.contact-info-grid small {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.contact-info-grid h2 {
  font-weight: 100;
}

.social-contact {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}

.social-contact a {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: inherit;
}

.contact-form-wrapper {
  margin-top: 1rem;
}

.form-wrapper {
  margin-bottom: 1rem;
}

.form-wrapper label {
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-wrapper input,
.form-wrapper textarea {
  border: 1px solid;
  border-radius: 5px;
  resize: none;
  width: 100%;
  display: block;
  padding: 0.7rem 1rem;
  outline: none;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus {
  border: 1px solid;
}

.form-wrapper input[type="email"] {
  margin-bottom: 0.5rem;
  display: block;
  height: 40px;
}
.contact-form h3 {
}

.contact-form-wrapper button {
  display: inline-block;
  margin-top: 1rem;
}

.contact-me button {
  font-weight: 600;
}

/* Mobile menu */
.mobile-menu {
  width: 100%;
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  z-index: 100;
  transition: right 500ms;
  background: inherit;
}

.menu-wrapper {
  height: 100%;
  width: 70%;
  margin-left: auto;
  padding: 1rem 2rem;
  background: inherit;
}

.aside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.socials-menu a {
  margin-right: 0.7rem;
  color: inherit;
}

.aside-header label {
  font-size: 1.5rem;
}

.aside-content li {
  margin-bottom: 1.4rem;
}

.aside-content li a {
  font-size: 1.4rem;
  color: inherit;
}

.aside-content li:first-child a {
}

form {
  flex: 1 1 42rem;
}
form p {
  font-size: 25px;
}
form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .inputBox input {
  width: 49%;
}
form .inputBox input,
form textarea {
  border-radius: 5rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  color: inherit;
  text-transform: none;
  margin: 0.7rem 0;
  background: inherit;
  border: 1px solid;
}
form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 10rem;
}
form .btn {
  padding: 1rem 3rem;
  cursor: pointer;
}
form .btn:hover {
  color: black;
}

@media only screen and (max-width: 1024px) {
  .work-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
  }

  .work-image {
    margin-bottom: 2rem;
  }

  .contact-grid {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav label {
    display: inline-block;
  }
  .banderas {
    display: none;
  }
  #menu-toggle:checked + .mobile-menu {
    right: 0%;
  }

  .hero-content h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-content h1 br {
    display: none;
  }

  .tech-stack h3,
  .works h3 {
    text-align: center;
  }

  .skill-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .skill {
    margin-bottom: 1.2rem;
  }

  .skill img {
    width: 40px !important;
  }

  .work-image {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .wrapper {
    width: 85%;
  }

  .hero-content p {
    text-align: center;
  }

  .contact-info-grid h2 {
    font-size: 0.9rem;
  }
  .banderas {
    display: none;
  }
}
